/* Mobile first */ 

html{
  font-size: 90%; 
}

body{
  margin: 0; 
  width: 100vw; 
  /* background-image: url(../img/empty-nature-scenery/landscape-drawing.jpg);    */
}

#container{
  display:flex; 
  flex-direction: column;
}

/* Boutons et textes */ 